@import url("https://use.typekit.net/iqr7cwv.css");

html,
body {
  font-family: franklin-gothic-urw, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: hsl(211deg 100% 7%);
}

prm-topbar .top-nav-bar {
  background-color: hsl(211deg 100% 7%);
}

prm-topbar .product-logo a:hover,
prm-topbar .product-logo a:focus {
  box-shadow: inset 0 -2px 0 0 hsl(0deg 0% 100%);
}
prm-account
prm-topbar .md-button:not(.disable-hover) {
  color: hsl(0deg 0% 100%);
}

md-toolbar.default-toolbar, 
md-toolbar.default-toolbar:not(.md-menu-toolbar), 
md-toolbar.md-primoExplore-theme.default-toolbar {
  color:hsl(211deg 100% 7%);
}

prm-account md-toolbar.default-toolbar,
prm-account md-toolbar.default-toolbar:not(.md-menu-toolbar), 
prm-account md-toolbar.md-primoExplore-theme.default-toolbar,
prm-atoz-search-bar,
prm-search-bar {
  background-color: hsl(0deg 0% 85%);;
}

prm-full-view-page md-content.md-primoExplore-theme.layout-row,
prm-services-page md-content.md-primoExplore-theme.layout-row,
prm-explore-main md-content.md-primoExplore-theme.layout-row,
prm-account md-content.md-primoExplore-theme.layout-row {
  background-color: hsl(0deg 0% 96%)!important;
  min-height: calc(100vh - 165px);
}


/* Library Card */
prm-account-overview md-tab-content {
  transition: none;
}

a {
  color: hsl(210deg 60% 35%);
  padding-bottom: 0;
}

prm-account-overview md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active:not([disabled]) {
  color: hsl(210deg 60% 43%);
}

md-tab-item .layout-row {
  align-items: center;
}

md-tab-item prm-icon {
  margin-left: 0.25rem;
}

md-tab-item .prm-warn,
md-tab-item .prm-notice,
prm-loans-overview .overdue-line-overview,
prm-fines .prm-warn {
  color: hsl(7deg 83% 43%);
}

@media (min-width: 1210px) {
  prm-account-overview .tiles-grid {
    display: flex;
  }
  
  prm-account-overview .display-block {
    width: 25%;
  }
}

.tiles-grid prm-icon,
.message-with-icon prm-icon {
  display: none;
}

prm-account-overview [icon-definition] + div {
  width: 100%;
  margin: 0 0 0.5rem;
  padding: 0;
}

md-card.default-card,
.tiles-grid-tile,
.full-view-inner-container {
  background-color: hsl(0deg 0% 100%);
}

prm-account-overview .tiles-grid-tile .tile-header {
  padding: 1rem 1rem 0.5rem 1rem;
}

prm-account-overview .tiles-grid-tile md-list md-list-item {
  padding: 0 0.375rem 0.375rem;
}

/* Loans, Requests, Fines, Blocks */
prm-loans .header-count,
prm-requests .header-count,
prm-fines .header-count {
  padding-left: 1rem!important;
}

prm-loans .header-count md-checkbox .md-label,
prm-requests .header-count md-checkbox .md-label,
prm-fines .header-count md-checkbox .md-label {
  margin-left: 36px;
}

html[dir=ltr] prm-loans-overview .tiles-grid-tile .tile-content .item-index, 
html[dir=ltr] prm-requests-overview .tiles-grid-tile .tile-content .item-index, 
html[dir=ltr] prm-fines-overview .tiles-grid-tile .tile-content .item-index, 
html[dir=ltr] prm-messages-and-blocks-overview .tiles-grid-tile .tile-content .item-index, 
prm-loans md-list-item .md-list-item-with-checkbox .item-index,
prm-requests md-list-item .md-list-item-with-checkbox .item-index,
prm-fines md-list-item .md-list-item-text .item-index {
  display: none;
}

prm-loans md-list-item .md-list-item-with-checkbox md-checkbox,
prm-requests md-list-item .md-list-item-with-checkbox md-checkbox {
  left: 1rem;
  top: 1rem;
}

prm-loans .separate-list-items md-list-item .md-list-item-text,
prm-requests .separate-list-items md-list-item .md-list-item-text {
  padding: 1rem 1rem 1rem 3.25rem;
}

prm-fines .separate-list-items md-list-item .md-list-item-text {
  padding: 1rem;
}

md-list-item.md-3-line .md-list-item-text p:not(.bold-text) {
  font-weight: 400!important;
}

md-list-item.md-3-line .md-list-item-text h3, 
md-list-item.md-3-line>.md-no-style .md-list-item-text h3 {
  font-weight: 500;
}

prm-personal-info md-card-header md-toolbar-tools {
  padding: 0;
}

prm-personal-info .card-content-section div:first-of-type {
  max-width: 100%;
  flex-basis: 100%;
}

/* Journal Search */
prm-search-result-list .list-item-wrapper {
  background-color: hsl(0deg 0% 98%);
}

prm-brief-result .item-title span {
  color: hsl(211deg 100% 7%);
}

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
  color: hsl(211deg 100% 7%);
}

prm-search-results .md-dialog-container.fixed-container {
  background-color:hsla(211deg 100% 7% 0.9)
}

/* Full View */
prm-full-view prm-brief-result-container .result-item-text {
  padding-left: 3rem;
}

.__gt-xs .full-view-section-content {
  padding-left: 8.5rem;
}

prm-full-view prm-action-list > md-nav-bar nav {
  justify-content: start;
}

prm-full-view prm-action-list > md-nav-bar .md-nav-list,
prm-full-view prm-action-list > md-nav-bar ul {
  width: 100%;
}

prm-full-view prm-action-list > md-nav-bar .actions-layout {
 justify-content: space-evenly; 
}

prm-atoz-search-bar .md-button.button-confirm,
prm-search-bar  .md-button.button-confirm,
prm-full-view .md-button.button-confirm {
  color: hsl(211deg 100% 7%);
}

prm-atoz-search-bar .md-button.button-confirm:hover:not([disabeld]),
prm-search-bar .md-button.button-confirm:hover:not([disabeld]),
prm-full-view .md-button.button-confirm:hover:not([disabled]) {
  color: hsl(0deg 0% 100%);
  background-color: hsl(211deg 100% 7%);
}

prm-full-view prm-action-list > md-nav-bar .md-nav-item {
  width: auto;
}

prm-full-view prm-virtual-browse-item md-card .card-image {
  height: 130px;
  max-height: 130px;
}

prm-full-view prm-virtual-browse-item md-card .card-image img {
  object-fit: cover;
  object-position: top;
}

prm-virtual-browse-item md-card md-card-title-text {
  line-height: 1rem;
  max-height: calc(1rem * 3);  
}

prm-source-record {
  padding: 2rem;
  display: block;
  background: hsl(0deg 0% 100%);
  min-height: 100vh;
}

.full-view-section-content:after {
  content: none;
}

prm-full-view .services-index-under #services-index {
  max-width: 100%;
}

prm-full-view .services-index-under .md-button {
  padding: 5px 8px;
  max-width: 100%;
}

prm-request md-input-container {
  width: 100%;
}

md-dialog.light-on-dark-dialog {
  background-color: hsl(0deg 0% 100%);
  color:hsl(211deg 100% 7%);
}

md-dialog.light-on-dark-dialog md-list md-list-item.list-login .md-button {
  color: initial;
}
