@font-face {
  font-family: "DejaVu Sans";
  font-style: normal;
  font-weight: normal;
  src: url("https://faq.library.princeton.edu/loader.php?fid=2204&type=1&key=b93bc5612374bd2df3757993ff5d0acb") format("woff"), url("https://faq.library.princeton.edu/loader.php?fid=2206&type=1&key=5cd1e2eed428bb4d79625f7b3020e4d5") format("truetype"),  url("https://faq.library.princeton.edu/loader.php?fid=2205&type=1&key=ecc17095ac05f44272ec0c7c3b2fb0f9") format("embedded-opentype");
}